<body>
    <center>
             <h1 style="color:blue"> WELCOME! </h1>
             <img src="https://apps-cdn.athom.com/app/se.adamnoren.email/6/2401563c-2802-4403-b422-763e03ec884c/assets/images/large.png">
             <div><h5>Welcome back to our website!</h5>We appreciate you joining our club. You now have exclusive access to new arrivals and sales<br>
             <a href="https://www.flipkart.com/" style="color:green"> click </a>
    </center>
    </body>


    <!-- const secreatkey ='otpkey';
    const token = totp.generate(secreatkey);
    console.log(token)
    await userSchema.updateOne({otp:token},(err,updata)=>{
        if(err){
            res.json({"err":err.messsage})
        }else{
            res.json({status:"successs",'otp':token})
        }
    }) -->